<div>
  <%= form_with url: '/profiles', method: :get, local: true do %>
    <%= label_tag :username, 'Search for: ' %>
    <%= text_field_tag :username %>

    <%= submit_tag 'Search' %>
  <%end %>

  <% @users.each do |user| %>
    <div>
      <p>
        <%= link_to user.username, profile_path(user.username) %>
        <% unless (current_user.friends_with?(user) || current_user.eql?(user)) %>
          <%= link_to "Add Friend", friend_requests_path(user_id: user.id), method: :post, class: "btn" %>
        <% end %>  
      </p>
      
    </div>
  <% end %>
</div>
